<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Dateifabrik Lizenzbegühren Berechnung Plugin</label>
    <label lang="en">Dateifabrik License Calculation Plugin</label>

    <version>1.0.0</version>
    <copyright>Dateifabrik</copyright>
    <license>MIT</license>
    <link>https://dateifabrik.de</link>
    <author>Dateifabrik</author>
    <compatibility minVersion="5.5.4"/>

    <changelog version="1.0.0">
        <changes lang="de">Erstveröffentlichung</changes>
        <changes lang="en">First release</changes>
    </changelog>
</plugin>